<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.face.mapper.UserPersonMapper">

    <select id="listPersonTag" parameterType="map" resultType="string">
        select
            person_tag
        from
            tb_user_person
        where
            open_key = #{openKey}
            and person_index in
            (
                <foreach collection="indexes" item="index" separator=",">
                    #{index}
                </foreach>
            )
    </select>

</mapper>
